body {
  
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}
.logo{
  width: 75%;
}
.loginuser{
  border-radius: 5px;
  background: #2db6eb;
  padding: 5px;
  color: white;
  cursor: pointer;
  
}
.loginuser:hover{
  background-color: aquamarine;
  color: black;
}
.loginuser-submenu{
  color: #111;
  background-color: darkgray;
}
.loginuser-submenu:hover{
  background-color: #2db6eb;
  color: #111;
}
.admin-footer{
  padding: 35px;
}
.col-xs-4{
  width: 40%;
}
.col-xs-4:first-child label{
  float: left;
}
.col-xs-4:first-child #page-menu{
  float: left;
}

.col-xs-4:nth-child(1) label{
  float: left;
  padding-left: 10px;
}
.col-xs-4:nth-child(1) input{
  float: left;
  
}
.col-xs-8{
  width: 60%;
}
.pagination li{
  padding: 0 10px 0 10px;
  border: 0.5px solid grey;
}
.pagination li:hover{
  background-color: #2db6eb; 
}
.pagination li:hover a{
 
  color: white;
}
.pagination .active{
  background-color: #2db6eb;  
}
.pagination .active a{
  color: #FFF;
}
.pagination{
  border: 1px solid grey;
}
.pagination .disabled a{
  color: #d3d3ba;
}
#serviceImage{
  border-radius: 55px;
  width: 100px;
  height: 100px;
}