body {
  
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}
.logo{
  width: 75%;
}
.loginuser{
  border-radius: 5px;
  background: #2db6eb;
  padding: 5px;
  color: white;
  cursor: pointer;
  
}
.loginuser:hover{
  background-color: aquamarine;
  color: black;
}
.loginuser-submenu{
  color: #111;
  background-color: darkgray;
}
.loginuser-submenu:hover{
  background-color: #2db6eb;
  color: #111;
}